body {
	font-family: "Fredoka", sans-serif;
	margin: 20px;
	background: #042A2B;
	color: #FCFCFC;
}

label {
	display: block;
	margin: 2px 10px;
}

input[type=text] {
	width: 60%;
	padding: 8px;
	margin: 10px 10px;
	box-sizing: border-box;
	background-color: #FCFCFC;
	border: 3px solid #5EB1BF;
	color: #042A2B;
}

input[type=text]:hover {
	border: 3px solid #54F2F2;
}

input[type=text]:focus {
	border-color: #F4E04D;
	box-shadow: 0px 0px 6px rgba(244, 224, 77, 0.6);
	outline: none;
}

button {
	margin: 10px 10px;
}

.hidden {
	display: none;
}
